module.exports = {
    host: 'http://127.0.0.1:8080/',
    mysql: {
        host : '127.0.0.1',
        port : 3306,
        database : 'uaas',
        user : 'root',
        password : ''
    },
    login_info: {
        rest: 'rest/login',
        api: 'api/oauth/login',
        sys: 'api/sys/oauth/login',
        app: 'api/app/oauth/login'
    }
};