module.exports = {
    <!-- host: 'http://39.108.164.168:10080/', -->
    host: 'http://192.168.2.94:8080/',
    <!-- host: 'http://127.0.0.1:8080/', -->
    mysql: {
        host : '120.79.77.207',
        <!-- host : '127.0.0.1', -->
        port : 3306,
        database : 'power',
        user : 'root',
        password : 'root'
    },
    login_info: {
        rest: 'rest/login',
        api: 'api/oauth/login',
        sys: 'api/sys/oauth/login',
        app: 'api/app/oauth/login'
    }
};
