module.exports = {
    map: {
        <!-- 非标准的GET api映射表, key:POST/PUT api, value:映射GET api -->
        "api/ad/id/portal": "api/pub/ad/records/portal"
    },
    <!-- 全局字段过滤 -->
    filter :["createTime", "updateTime", "createtime", "sex", "password", "birthday", "email", "avatar", "salt"
    , "createdTime", "cover", "images", "expiresIn", "accessToken"]
};